#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.profile-card {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.games-showcase{
    overflow-y: auto;
    height: 60vh;
}

.game-card {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
}

.game-header {
    width: 50%;
    border-radius: 5%;
    margin-right: 20px;
}


.user-info {
    flex: 1;
}

.user-info h1 {
    margin: 0;
    font-size: 20px;
}

.user-info p {
    margin: 5px 0;
}